* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}

.notifications-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heading {
  color: #0f172a;
  font-size: 32px;
  font-family: "Roboto";
  font-weight: 600;
  margin-bottom: 20px;
}

.notifications-list {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 600px;
}

.icon {
  height: 20px;
  width: 20px;
  margin-right: 18px;
}

.notifications-container {
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  margin-bottom: 24px;
}
.primary-icon {
  background-color: #0b69ff;
}
.success-icon {
  background-color: #2dca73;
}

.warning-icon {
  background-color: #ffb800;
}

.danger-icon {
  background-color: #ff0b37;
}

.message {
  color: #ffffff;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 500;
}
